*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.titulo {
    color: rgb(243, 233, 214);
    text-align: center;
    padding: 20px;
    margin: 30px;
    font-style: italic;
}

.categoria {
    padding: 20px 20px;
    background-color: #49433d

 
}

.navcategoria {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.botonnuevoPost {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid transparent;
    background-color:  rgb(243, 233, 214);
}

.botonnuevoPost:hover{
    background-color:rgb(236, 205, 146);
    border: 1px solid rgb(175, 129, 43);
}

.categoria p {
    font-weight: bold;
    font-size: large;
    color: rgb(243, 233, 214);
    margin-left: 240px;
}

.botoncategoria {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color:  rgb(243, 233, 214);
}

.botoncategoria:hover{
    background-color: rgb(236, 205, 146);
    border: 1px solid rgb(175, 129, 43);;
}

.blog {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('../images/080mapr13791_papel_pintado_mural_mapa_antiguo_0.jpg')
}

.post{
    width: 350px;
    margin: 30px;
  
    background-color: #eee5d8;

}

.post a {
    text-decoration: none;
}

.post:hover{
    background-color: #f5d3a5;
    text-decoration: none;

}

.post img {
    width: 100%;
    padding: 20px, 0;
}

.cuerpopost {
    padding: 20px; 
    color: black;
}

.footerpost {
    text-align: end;
    color: black;
}

.cuerpopost:hover{
    text-decoration: none;
}


