*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}



.categoria {
    padding: 20px 20px;
  
    background-color: #aa6124af;

 
}

.navcategoria {
    display: flex;
    justify-content: space-between;
}
.botonnuevoPost {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid transparent;
}

.botonnuevoPost:hover{
    background-color:rgb(236, 205, 146);
    border: 1px solid rgb(175, 129, 43);
}

.categoria p {
    font-weight: bold;
    font-size: large;
    color: white;
}

.botoncategoria {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: whitesmoke;
}

.botoncategoria:hover{
    background-color: rgb(236, 205, 146);
    border: 1px solid rgb(175, 129, 43);;
}

.blog {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('../images/080mapr13791_papel_pintado_mural_mapa_antiguo_0.jpg')
}

.post{
    width: 350px;
    margin: 30px;
    padding: 20px;
    background-color: #eee5d8;
 
}

.post:hover{
    background-color: #f5d3a5;

}

.post img {
    width: 100%;
    padding: 20px, 0;
}

.cuerpopost {
    padding: 20px; 
}

.footerpost {
text-align: end;
}


