<div class="cabeceraformulario">
    <button class="botonBlog" [routerLink]="['/blog']">Ir a Blog</button>
    <h3>Añade tu post</h3>
</div>

<form class="formulario" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Título</label>
        <input type="text" class="form-control" formControlName="titulo">
        <p class="text-danger" *ngIf="postForm.get('titulo').hasError('required') && postForm.get('titulo').touched">
            Debes introducir un título para tu post</p>
    </div>

    <div class="form-group">
        <label>Texto</label>
        <textarea class="form-control" formControlName="texto"></textarea>
        <p class="text-danger" *ngIf="postForm.get('texto').hasError('minlength') && postForm.get('texto').touched">
            El campo debe tener un minimo de {{postForm.get('texto').errors.minlength.requiredLength}}
            caracteres.
            Has escrito
            {{postForm.get('texto').errors.minlength.actualLength}} caracteres.
        </p>
    </div>

    <div class="form-group">
        <label>Autor</label>
        <input type="text" class="form-control" formControlName="autor">
        <p class="text-danger" *ngIf="postForm.get('autor').hasError('required') && postForm.get('autor').touched">Debes
            introducir un autor</p>
    </div>

    <div class="form-group">
        <label>Cargar Imagen</label>
        <input type="text" class="form-control" formControlName="imagen">
        <p class="text-danger" *ngIf="postForm.get('imagen').hasError('required') && postForm.get('imagen').touched">
            Debes
            introducir una imagen</p>
    </div>

    <div class="form-group">
        <label>Fecha</label>
        <input type="date" class="form-control" formControlName="fecha">
        <p class="text-danger" *ngIf="postForm.get('fecha').hasError('required') && postForm.get('fecha').touched">Debes
            introducir una fecha</p>
    </div>

    <div class="form-group">
        <label>Categoria</label>
        <br>
        <select>
            <option value="España">España</option>
            <option value="America">América</option>
            <option value="Africa">África</option>
            <option value="Asia">Asia</option>
            <option value="Oceanía">Oceania</option>
            <option value="Europa">Europa</option>
        </select>
    </div>
    <!--  <button (click)="onSubmit()">Enviar</button> -->
    <input type="submit" value="Enviar" class="btn" [disabled]="postForm.invalid">
</form>