*{
    box-sizing: border-box;
	list-style: none;
	text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

.cabeceraformulario{
      background-color:#49433d;
      display: flex;
      justify-content: space-between;
}
        
    
.formulario {
    padding: 30px;
    background-color:#d3b69a;
}

h3 {
    padding: 30px;
    color: rgb(224, 177, 138);
    margin-left: 50px;
  
}

.botonBlog {
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
    background-color:  rgb(243, 233, 214);
    
    
}

.botonBlog:hover{
    background-color: rgb(236, 205, 146);
}

.btn {
    background-color: whitesmoke;
    border-radius: 10px;
}

.btn:hover {
background-color: rgb(236, 205, 146);
border: 1px solid rgb(175, 129, 43);;
}
